In [1]:
import dash
import dash_core_components as dcc
import plotly.graph_objs as go
import dash_html_components as html
import pandas as pd
import numpy as np
from dash.dependencies import Input, Output
import dash_table

In [2]:
recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
country_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

In [3]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25

In [4]:
# data cleaning

# renaming the df column names to lowercase
country_df.columns = map(str.lower, country_df.columns)
confirmed_df.columns = map(str.lower, confirmed_df.columns)
death_df.columns = map(str.lower, death_df.columns)
recovered_df.columns = map(str.lower, recovered_df.columns)

# changing province/state to state and country/region to country
confirmed_df = confirmed_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
recovered_df = recovered_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
death_df = death_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
country_df = country_df.rename(columns={'country_region': 'country'})
# country_df.head()

In [5]:
confirmed_df.country
confirmed_df.iloc[:,4:].sum(axis=1)
np.sum(np.asarray(confirmed_df[confirmed_df['country'] == 'US'].iloc[:,20:]),axis = 0)

array([    11,     11,     11,     11,     12,     12,     13,     13,
           13,     13,     13,     13,     13,     13,     15,     15,
           15,     51,     51,     57,     58,     60,     68,     74,
           98,    118,    149,    217,    262,    402,    518,    583,
          959,   1281,   1663,   2179,   2727,   3499,   4632,   6421,
         7783,  13747,  19273,  25600,  33276,  43843,  53736,  65778,
        83836, 101657, 121465, 140909, 161831, 188172, 213242, 243622,
       275367, 308650, 336802, 366317, 397121, 428654, 462780, 496535,
       526396, 555313, 580619, 607670, 636350, 667592, 699706, 732197,
       758809, 784326, 812036, 839675], dtype=int64)

In [6]:
death_df.head()

,state,country,lat,long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [7]:
recovered_df.head()

,state,country,lat,long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,32,40,43,54,99,112,131,135,150,166
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,232,248,251,277,283,302,314,327,345,356
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,601,691,708,783,846,894,1047,1099,1152,1204
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,128,128,169,169,191,205,235,248,282,309
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,5,5,5,5,6,6,6,6,6

In [8]:
country_df.head()

,country,last_update,lat,long_,confirmed,deaths,recovered,active,incident_rate,people_tested,people_hospitalized,mortality_rate,uid,iso3
0,Australia,2020-04-23 00:39:39,-25.0000,133.0000,6547,67,4124,2356,25.715150,NaN,NaN,1.023369,36,AUS
1,Austria,2020-04-23 00:30:32,47.5162,14.5501,14925,510,11328,3087,165.715491,NaN,NaN,3.417085,40,AUT
2,Canada,2020-04-23 00:39:22,60.0010,-95.0010,41650,2080,14490,25080,110.023055,NaN,NaN,4.993998,124,CAN
3,China,2020-04-22 12:28:25,30.5928,114.3055,83868,4636,77861,1371,5.970628,NaN,NaN,5.527734,156,CHN
4,Denmark,2020-04-23 00:30:32,56.0000,10.0000,8108,384,5276,2448,139.981282,NaN,NaN,4.736063,208,DNK

In [9]:
sorted_country_df = country_df.sort_values('confirmed', ascending= False)
sorted_country_df.head()

,country,last_update,lat,long_,confirmed,deaths,recovered,active,incident_rate,people_tested,people_hospitalized,mortality_rate,uid,iso3
17,US,2020-04-23 00:39:21,40.000000,-100.00000,840476,46611,77956,715909,255.102280,NaN,NaN,5.545786,840,USA
160,Spain,2020-04-23 00:30:32,40.463667,-3.74922,208389,21717,85915,100757,445.706271,NaN,NaN,10.421375,724,ESP
10,Italy,2020-04-23 00:30:32,41.871900,12.56740,187327,25085,54543,107699,309.826888,NaN,NaN,13.391022,380,ITA
6,France,2020-04-23 00:30:32,46.227600,2.21370,157135,21373,41327,94435,240.733178,NaN,NaN,13.601680,250,FRA
7,Germany,2020-04-23 00:30:32,51.165700,10.45150,150648,5315,99400,45933,179.805331,NaN,NaN,3.528092,276,DEU

In [10]:
table_columns = sorted_country_df[['country','last_update','confirmed','recovered','deaths','active','incident_rate','mortality_rate']]

In [12]:
colors = {
    'text' : '#AF2406',
    'plot_color' : '#D3D3D3',
    'paper_color' : 'CFE9E8'
}

In [13]:
# total number of confirmed, death and recovered cases
confirmed_total = int(country_df['confirmed'].sum())
deaths_total = int(country_df['deaths'].sum())
recovered_total = int(country_df['recovered'].sum())
active_total = int(country_df['active'].sum())

In [75]:
app = dash.Dash()

In [76]:
app.layout = html.Div([
    html.H1(children = "COVID-19 CORONAVIRUS PANDEMIC",
            style = {
                'textAlign' : 'center',
                'color' : colors['text']
           }),
    html.H3(children = 'Coronavirus spread summary and tracker',
            style = {
                'textAlign' : 'center',
                'color' : colors['text']
           }),
    html.Div([
        html.Span(children = 'Confirmed Cases: '+ str(confirmed_total),
              style = {
                  'color' : 'blue',
                  'font-size' : '30px'
           }),
        html.Span(children = 'Active Cases: '+ str(active_total),
             style = {
                  'color' : 'orange',
                  'font-size' : '30px',
                  'margin-left' : '20px'
           }),
        html.Span(children = 'Deaths: '+ str(deaths_total),
              style = {
                  'color' : 'red',
                  'font-size' : '30px',
                  'margin-left' : '20px'
           }),
        html.Span(children = 'Recovered: '+ str(recovered_total),
              style = {
                  'color' : 'green',
                  'font-size' : '30px',
                  'margin-left' : '20px'
           }),
        ],
    style = {
          'textAlign' : 'center',
    }),
    html.Br(),
    html.Br(),
    html.Div([
         html.Label(children ="number of countries: ",
                   style = {
                       'color' : 'blue',
                      'font-size' : '20px'
                   }),
        dcc.Slider(
            id = 'country-slider',
            min = 1,
            max = 50,
            value = 10,
            step = 1,
            marks = {i : i for i in range(51)}
        )],
#         style ={
#             'width' : '100%'
#         }),
        ),
    html.Br(),
    html.Br(),
    dash_table.DataTable(
        id = 'table-world-cases',
        columns=[{"name": i, "id": i} for i in table_columns],
        #data=sorted_country_df.to_dict('records'),
        style_table={'overflowX': 'scroll',
                    'maxHeight': '425px',
                    'overflowY': 'scroll'},
        fixed_rows={ 'headers': True, 'data': 0 },
         style_cell={
        'height': 'auto',
        'minWidth': '120px', 'maxWidth': '140px',
        'whiteSpace': 'normal',
        'textAlign': 'left',
         'backgroundColor': 'rgb(250, 250, 250)',
        },
        style_header={
        'height' : '40px',
        'backgroundColor': 'rgb(230, 230, 230)',
        'fontWeight': 'bold'
        },
        style_data_conditional=[
        {
            'if': {'row_index': 'odd'},
            'backgroundColor': 'rgb(248, 248, 248)'
        },
        {
            'if': {'column_id': 'country'},
            'fontWeight': 'bold'     
        },
        {
            'if': {'column_id': 'confirmed'},
            'backgroundColor': '#0AD3F7',
            'fontWeight': 'bold'     
        },
        {
            'if': {'column_id': 'deaths'},
            'backgroundColor': '#AF2406',
            'fontWeight': 'bold'     
        },
        {
            'if': {'column_id': 'recovered'},
            'backgroundColor': '#3D9970',
            'fontWeight': 'bold'     
        },
        {
            'if': {'column_id': 'active'},
            'backgroundColor': '#FC7E27',
            'fontWeight': 'bold'     
        }
        ],
    ),
    html.Br(),
    html.Br(),
    html.Div([
        dcc.Graph(
            id = 'Check-world-cases',
            figure = {
                'data' : [
                    go.Bar(
                        name = 'Confirmed Cases',
                        x = np.array(list(confirmed_df.iloc[:, 20:].columns)),
                        y = np.sum(np.asarray(confirmed_df.iloc[:,4:]),axis = 0),
                    ),
                    go.Bar(
                       name = 'Deaths', 
                       x = np.array(list(death_df.iloc[:, 20:].columns)),
                       y = np.sum(np.asarray(death_df.iloc[:,4:]),axis = 0),
                    ),
                    go.Bar(
                       name = 'Recoveries',
                       x = np.array(list(recovered_df.iloc[:, 20:].columns)),
                       y = np.sum(np.asarray(recovered_df.iloc[:,4:]),axis = 0),
                    )
                ],
                'layout' : go.Layout(
                    title = "Cases around the world",
                    xaxis = {'title' : 'Countries'},
                    yaxis = {'title' : 'Cases'},
                    hovermode = 'closest',
                    barmode = 'stack',
                    showlegend = True
                )})],
        style ={
        'backgorund-color' : colors['plot_color'],
        'padding' : '30px'
        }),
    html.Br(),
    html.Br(),
    html.Div([
        dcc.Dropdown(
            id = 'case-type',
            options = [
                {'label' : "Confirmed Cases", 'value' : 'confirmed'},
                {'label' : "Active Cases", 'value' : 'active'},
                {'label' : "Death Cases", 'value' : 'deaths'},
                {'label' : "Recovered Cases", 'value' : 'recovered'}
            ],
            value = 'confirmed',
        )],
         style ={
            'width' : '50%'
        }),
    html.Br(),
    html.Br(),
    html.Div([ 
        dcc.Graph(
            id = 'piechart-world-cases')],
        style ={
        'backgorund-color' : colors['plot_color'],
#         'padding' : '30px'
        }),
    html.Br(),
    html.Br(),
    html.Div([
        dcc.Graph(
            id = 'Check-world-confirmed-cases',
            figure = {
                'data' : [
                    go.Scatter(
                        name = 'country',
                        x=list(sorted_country_df.country),
                        y=list(sorted_country_df.confirmed),
                        mode='markers',
                        #marker = dict(color = '#0AD3F7')
                        marker = dict(
                            size =  sorted_country_df.confirmed, 
                            sizemin = 4,
                            sizemode='area',
                            sizeref = 2.*max(sorted_country_df.confirmed)/(100**2),
                            color=np.random.randn(300),
                            colorscale='Rainbow',),
                    )],
                'layout' : go.Layout(
                    title = "Confirmed cases around the world",
                    xaxis = {'title' : 'Countries',
                            'automargin' : True
                            },
                    yaxis = {'title' : 'Confirmed Cases',
                            'automargin' : True},
                    hovermode = 'closest'
                )})],
        style ={
        'backgorund-color' : colors['plot_color'],
        #'padding' : '30px'
        }),
    html.Br(),
    html.Br(),
    html.Div([
        dcc.Graph(
            id = 'Check-world-death-cases',
            figure = {
                'data' : [
                    go.Scatter(
                        name = 'country',
                        x=list(sorted_country_df.country),
                        y=list(sorted_country_df.deaths),
                        mode='lines',
                        marker = dict(
                            color = 'red')
                    )],
                'layout' : go.Layout(
                    title = "Deaths around the world",
                    xaxis = {'title' : 'Countries',
                            'automargin' : True},
                    yaxis = {'title' : 'Deaths',
                            'automargin' : True},
                    hovermode = 'closest'
                )})],
        style ={
        'backgorund-color' : colors['plot_color'],
        'padding' : '30px'
        }),
    html.Br(),
    html.Br(),
    html.Div([
        dcc.Graph(
            id = 'Check-world-recovery-cases',
            figure = {
                'data' : [
                    go.Scatter(
                        name = 'country',
                        x=list(sorted_country_df.country),
                        y=list(sorted_country_df.recovered),
                        mode='markers+lines',
                        marker = dict(
                            color = 'green')
                    )],
                'layout' : go.Layout(
                    title = "Recoveries around the world",
                    xaxis = {'title' : 'Countries',
                            'automargin' : True},
                    yaxis = {'title' : 'Recoveries',
                            'automargin' : True},
                    hovermode = 'closest'
                )})],
        style ={
        'backgorund-color' : colors['plot_color'],
        'padding' : '30px'
        }),
    html.Br(),
    html.Br(),
    html.Div([
        html.Label(children ="Country: ",
                   style = {
                       'color' : 'blue',
                      'font-size' : '20px'
                   }),
        dcc.Input(
            id = 'country-input',
            #placeholder = 'Input Country Name',
            type = 'text',
            value = 'World'
        )],
        style ={
            'width' : '50%'
        }),
    html.Br(),
    html.Br(),
    html.Div([
        dcc.Graph(id = 'Check-country-cases')],
    style = {
        'border' :'solid 1px green',
    }),
    html.Br(),
    html.Br(),
    html.Div([
       dcc.Graph(
            id = 'world-geo-case-tracking',
            figure = {
                'data' : [
                    go.Scattergeo(
                        lat = country_df['lat'],
                        lon = country_df['long_'],
                        text = country_df['country'] + ' | Confirmed: ' + 
                        country_df['confirmed'].astype(str) +' | Active: ' + 
                        country_df['active'].astype(str) + ' | Deaths: ' + 
                        country_df['deaths'].astype(str) + ' | Recovered: ' + country_df['recovered'].astype(str),
                        mode = 'markers',
                        marker = dict(
                            size =  country_df.confirmed/5, 
                            sizemin = 4,
                            sizemode='area',
                            sizeref = 2.*max(country_df.confirmed)/(100**2),
                            color = 'rgba(135, 206, 250, 0.8)',
                            line = dict(
                              color = 'rgb(231, 99, 250)',
                              width = 2
                            )
                        ),
                        hoverinfo = 'text',
                        name = 'country'
                    )],
                'layout' : go.Layout(
                    title = "Spread of Coronavirus across the world",
                    height=300,
                    margin={"r":0,"t":0,"l":0,"b":0},
                    hovermode = 'closest',
                    geo = dict(
                        scope = 'world',
                        showcoastlines = True,
                        showland = True,
                        showcountries = True,
                        landcolor = 'rgb(217, 217, 217)',
                    )
                )})],
    style = {
        'border' :'solid 1px green',
    }),
])

In [77]:
@app.callback(
    Output('table-world-cases', 'data'),
    [Input('country-slider', 'value')])
def display_country_cases_table(number):
    return sorted_country_df.head(number).to_dict('records')

In [78]:
@app.callback(
    Output('piechart-world-cases', 'figure'),
    [Input('case-type', 'value')])
def plot_world_info(caseType):
    if(caseType == 'confirmed'):
        trace = go.Pie(
            name = str(caseType) + ' cases',
            labels = sorted_country_df.country,
            values = sorted_country_df.confirmed,
            hole = 0.6,
            hoverinfo = 'label+value+percent',
            textposition = 'inside'
        )
    elif(caseType == 'active'):
        trace = go.Pie(
            name = str(caseType) + ' cases',
            labels = sorted_country_df.country,
            values = sorted_country_df.active,
            hole = 0.6,
            hoverinfo = 'label+value+percent',
            textposition = 'inside'
        )
    elif(caseType == 'deaths'):
        trace = go.Pie(
            name = str(caseType) + ' cases',
            labels = sorted_country_df.country,
            values = sorted_country_df.deaths,
            hole = 0.6,
            hoverinfo = 'label+value+percent',
            textposition = 'inside'
        )
    else:
        trace = go.Pie(
            name = str(caseType) + ' cases',
            labels = sorted_country_df.country,
            values = sorted_country_df.recovered,
            hole = 0.6,
            hoverinfo = 'label+value+percent',
            textposition = 'inside'
        )
    return {
        'data': [trace],
        'layout': dict(
            title = str(caseType) + ' cases around the world',
            showlegend = True,
            hovermode = 'closest',
            uniformtext_minsize=8,
            uniformtext_mode='hide'
        )
    }

In [79]:
@app.callback(
    Output('Check-country-cases', 'figure'),
    [Input('country-input', 'value')])
def plot_country_info(country):
    labels = ['confirmed','deaths','recovered']
    colors = ['orange','red','green']
    mode_size = [7, 7, 7]
    line_size = [4, 4, 4]
    
    df_list = [confirmed_df, death_df, recovered_df]
    
    fig = go.Figure();
    
    for i, df in enumerate(df_list):
        if country.lower() == 'world':
            x_data = np.array(list(df.iloc[:, 20:].columns))
            y_data = np.sum(np.asarray(df.iloc[:,4:]),axis = 0)
            
        else:    
            x_data = np.array(list(df.iloc[:, 20:].columns))
            y_data = np.sum(np.asarray(df[df['country'].str.lower() == country.lower()].iloc[:,20:]),axis = 0)
            
        fig.add_trace(go.Scatter(x=x_data, y=y_data, mode='lines+markers',
        name=labels[i],
        line=dict(color=colors[i], width=line_size[i]),
        connectgaps=True,
        text = "Total " + str(labels[i]) +": "+ str(y_data[-1])
        ));
    
    fig.update_layout(
        title="COVID 19 cases of " + country,
        xaxis_title='Date',
        yaxis_title='No. of Cases',
        margin=dict(l=20, r=20, t=40, b=20),
        paper_bgcolor="lightgrey",
#         width = 800,
        
    );
    return fig
    #fig.update_yaxes(type="linear")

In [80]:
if __name__ == '__main__':
    app.run_server(port = 4048,debug=False,use_reloader=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4048/ (Press CTRL+C to quit)
127.0.0.1 - - [22/Apr/2020 21:32:03] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:03] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:03] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:15] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:19] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:30] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2020 21:32:41] "POST /_dash-update-component HTTP/1.1" 200 -